/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#heroServices {
    width: 100%;
    height: 70vh;
    background-color: rgba(59, 59, 59, 0.8);
    overflow: hidden;
    padding: 0;
    margin-bottom: -120px;
    position: relative;
    z-index: 1;
}

#heroServices .carousel-item {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center center;
}

#heroServices .carousel-item::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#heroServices .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 120px;
}

#heroServices .carousel-content {
    text-align: center;
}

#heroServices h2 {
    color: #2e2e2e;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#heroServices h2 span {
    color: #e96b56;
}

#heroServices p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: arken(#545454, 15);
}

#heroServices .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#heroServices .carousel-inner .carousel-item,
#heroServices .carousel-inner .active.carousel-item-start,
#heroServices .carousel-inner .active.carousel-item-end {
    opacity: 0;
}

#heroServices .carousel-inner .active,
#heroServices .carousel-inner .carousel-item-next.carousel-item-start,
#heroServices .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}

#heroServices .carousel-inner .carousel-item-next,
#heroServices .carousel-inner .carousel-item-prev,
#heroServices .carousel-inner .active.carousel-item-start,
#heroServices .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#heroServices .carousel-control-prev, #heroServices .carousel-control-next {
    width: 10%;
}

#heroServices .carousel-control-next-icon, #heroServices .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
    color: #545454;
}

#heroServices .carousel-indicators li {
    cursor: pointer;
    background: #e96b56;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    margin-bottom: 180px;
    opacity: .2;
}

#heroServices .carousel-indicators li.active {
    opacity: 1;
}

#heroServices .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #e96b56;
    background: #e96b56;
}

#heroServices .btn-get-started:hover {
    background: transparent;
    color: #e96b56;
    text-decoration: none;
}

@media (max-height: 768px), (max-width: 1200px) {
    #heroServices {
        margin-bottom: 60px;
    }
    #heroServices .carousel-container {
        padding-bottom: 0;
    }
    #heroServices .carousel-indicators li {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    #heroServices {
        height: 90vh;
    }
    #heroServices .carousel-item {
        height: 90vh;
    }
}

@media (min-width: 1024px) {
    #heroServices p {
        width: 50%;
    }
    #heroServices .carousel-control-prev, #heroServices .carousel-control-next {
        width: 5%;
    }
}





/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/
.servicesSection {
    position: relative;
    z-index: 2;
}

.servicesSection .icon-box {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: #fff;
    transition: all ease-in-out 0.3s;
}

.servicesSection .icon-box i {
    color: #eeeeee;
    font-size: 42px;
    margin-bottom: 15px;
    display: block;
}

.servicesSection .icon-box h3 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
}

.servicesSection .icon-box h3 a {
    color: #545454;
    transition: 0.3s;
}

.servicesSection .icon-box p {
    color: #545454;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.servicesSection .icon-box:hover {
    background: #eeeeee;
}

.servicesSection .icon-box:hover i, .servicesSection .icon-box:hover h3 a, .servicesSection .icon-box:hover p {
    color: #fff;
}
