@font-face {
    font-family: "simple-line-icons";
    src: url("fonts/Simple-Line-Icons.eot?-i3a2kk");
    src: url("fonts/Simple-Line-Icons.eot?#iefix-i3a2kk") format("embedded-opentype"), url("fonts/Simple-Line-Icons.ttf") format("truetype"), url("fonts/Simple-Line-Icons.woff") format("woff"),
    url("fonts/Simple-Line-Icons.svg?#simple-line-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "et-line";
    src: url("fonts/et-line.eot");
    src: url("fonts/et-line.eot?#iefix") format("embedded-opentype"), url("fonts/et-line.woff") format("woff"), url("fonts/et-line.ttf") format("truetype"), url("fonts/et-line.svg#et-line") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FontAwesome";
    src: url("fonts/fa-solid-900.eot");
    src: url("fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fonts/fa-solid-900.woff2") format("woff2"), url("fonts/fa-solid-900.woff") format("woff"), url("fonts/fa-solid-900.ttf") format("truetype"),
    url("fonts/fa-solid-900.svg#fontawesome") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FontAwesomeBrands";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/fa-brands-400.eot");
    src: url("fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("fonts/fa-brands-400.woff2") format("woff2"), url("fonts/fa-brands-400.woff") format("woff"), url("fonts/fa-brands-400.ttf") format("truetype"),
    url("fonts/fa-brands-400.svg#fontawesome") format("svg");
}

/*====================Start Et Line==================*/

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/*[data-icon]:before {
	font-family: 'et-line';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:inline-block;
}*/

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="et-"] {
*/
[class^="et-"],
[class*=" et-"],
[class^="et-"]:before,
[class*=" et-"]:before {
    font-family: "et-line";
    font-style: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    text-rendering: auto;
    speak: none;
    font-weight: normal;
}
.et-mobile:before {
    content: "\e000";
}
.et-laptop:before {
    content: "\e001";
}
.et-desktop:before {
    content: "\e002";
}
.et-tablet:before {
    content: "\e003";
}
.et-phone:before {
    content: "\e004";
}
.et-document:before {
    content: "\e005";
}
.et-documents:before {
    content: "\e006";
}
.et-search:before {
    content: "\e007";
}
.et-clipboard:before {
    content: "\e008";
}
.et-newspaper:before {
    content: "\e009";
}
.et-notebook:before {
    content: "\e00a";
}
.et-book-open:before {
    content: "\e00b";
}
.et-browser:before {
    content: "\e00c";
}
.et-calendar:before {
    content: "\e00d";
}
.et-presentation:before {
    content: "\e00e";
}
.et-picture:before {
    content: "\e00f";
}
.et-pictures:before {
    content: "\e010";
}
.et-video:before {
    content: "\e011";
}
.et-camera:before {
    content: "\e012";
}
.et-printer:before {
    content: "\e013";
}
.et-toolbox:before {
    content: "\e014";
}
.et-briefcase:before {
    content: "\e015";
}
.et-wallet:before {
    content: "\e016";
}
.et-gift:before {
    content: "\e017";
}
.et-bargraph:before {
    content: "\e018";
}
.et-grid:before {
    content: "\e019";
}
.et-expand:before {
    content: "\e01a";
}
.et-focus:before {
    content: "\e01b";
}
.et-edit:before {
    content: "\e01c";
}
.et-adjustments:before {
    content: "\e01d";
}
.et-ribbon:before {
    content: "\e01e";
}
.et-hourglass:before {
    content: "\e01f";
}
.et-lock:before {
    content: "\e020";
}
.et-megaphone:before {
    content: "\e021";
}
.et-shield:before {
    content: "\e022";
}
.et-trophy:before {
    content: "\e023";
}
.et-flag:before {
    content: "\e024";
}
.et-map:before {
    content: "\e025";
}
.et-puzzle:before {
    content: "\e026";
}
.et-basket:before {
    content: "\e027";
}
.et-envelope:before {
    content: "\e028";
}
.et-streetsign:before {
    content: "\e029";
}
.et-telescope:before {
    content: "\e02a";
}
.et-gears:before {
    content: "\e02b";
}
.et-key:before {
    content: "\e02c";
}
.et-paperclip:before {
    content: "\e02d";
}
.et-attachment:before {
    content: "\e02e";
}
.et-pricetags:before {
    content: "\e02f";
}
.et-lightbulb:before {
    content: "\e030";
}
.et-layers:before {
    content: "\e031";
}
.et-pencil:before {
    content: "\e032";
}
.et-tools:before {
    content: "\e033";
}
.et-tools-2:before {
    content: "\e034";
}
.et-scissors:before {
    content: "\e035";
}
.et-paintbrush:before {
    content: "\e036";
}
.et-magnifying-glass:before {
    content: "\e037";
}
.et-circle-compass:before {
    content: "\e038";
}
.et-linegraph:before {
    content: "\e039";
}
.et-mic:before {
    content: "\e03a";
}
.et-strategy:before {
    content: "\e03b";
}
.et-beaker:before {
    content: "\e03c";
}
.et-caution:before {
    content: "\e03d";
}
.et-recycle:before {
    content: "\e03e";
}
.et-anchor:before {
    content: "\e03f";
}
.et-profile-male:before {
    content: "\e040";
}
.et-profile-female:before {
    content: "\e041";
}
.et-bike:before {
    content: "\e042";
}
.et-wine:before {
    content: "\e043";
}
.et-hotairballoon:before {
    content: "\e044";
}
.et-globe:before {
    content: "\e045";
}
.et-genius:before {
    content: "\e046";
}
.et-map-pin:before {
    content: "\e047";
}
.et-dial:before {
    content: "\e048";
}
.et-chat:before {
    content: "\e049";
}
.et-heart:before {
    content: "\e04a";
}
.et-cloud:before {
    content: "\e04b";
}
.et-upload:before {
    content: "\e04c";
}
.et-download:before {
    content: "\e04d";
}
.et-target:before {
    content: "\e04e";
}
.et-hazardous:before {
    content: "\e04f";
}
.et-piechart:before {
    content: "\e050";
}
.et-speedometer:before {
    content: "\e051";
}
.et-global:before {
    content: "\e052";
}
.et-compass:before {
    content: "\e053";
}
.et-lifesaver:before {
    content: "\e054";
}
.et-clock:before {
    content: "\e055";
}
.et-aperture:before {
    content: "\e056";
}
.et-quote:before {
    content: "\e057";
}
.et-scope:before {
    content: "\e058";
}
.et-alarmclock:before {
    content: "\e059";
}
.et-refresh:before {
    content: "\e05a";
}
.et-happy:before {
    content: "\e05b";
}
.et-sad:before {
    content: "\e05c";
}
.et-facebook:before {
    content: "\e05d";
}
.et-twitter:before {
    content: "\e05e";
}
.et-googleplus:before {
    content: "\e05f";
}
.et-rss:before {
    content: "\e060";
}
.et-tumblr:before {
    content: "\e061";
}
.et-linkedin:before {
    content: "\e062";
}
.et-dribbble:before {
    content: "\e063";
}

/*====================Start Simple Line==================*/

[class^="sl-"],
[class*=" sl-"],
[class^="sl-"]:before,
[class*=" sl-"]:before {
    font-family: "simple-line-icons";
    font-style: inherit;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
    speak: none;
    font-weight: normal;
}
.sl-user:before {
    content: "\e005";
}
.sl-people:before {
    content: "\e001";
}
.sl-user-female:before {
    content: "\e000";
}
.sl-user-follow:before {
    content: "\e002";
}
.sl-user-following:before {
    content: "\e003";
}
.sl-user-unfollow:before {
    content: "\e004";
}
.sl-login:before {
    content: "\e066";
}
.sl-logout:before {
    content: "\e065";
}
.sl-emotsmile:before {
    content: "\e021";
}
.sl-phone:before {
    content: "\e600";
}
.sl-call-end:before {
    content: "\e048";
}
.sl-call-in:before {
    content: "\e047";
}
.sl-call-out:before {
    content: "\e046";
}
.sl-map:before {
    content: "\e033";
}
.sl-location-pin:before {
    content: "\e096";
}
.sl-direction:before {
    content: "\e042";
}
.sl-directions:before {
    content: "\e041";
}
.sl-compass:before {
    content: "\e045";
}
.sl-layers:before {
    content: "\e034";
}
.sl-menu:before {
    content: "\e601";
}
.sl-list:before {
    content: "\e067";
}
.sl-options-vertical:before {
    content: "\e602";
}
.sl-options:before {
    content: "\e603";
}
.sl-arrow-down:before {
    content: "\e604";
}
.sl-arrow-left:before {
    content: "\e605";
}
.sl-arrow-right:before {
    content: "\e606";
}
.sl-arrow-up:before {
    content: "\e607";
}
.sl-arrow-up-circle:before {
    content: "\e078";
}
.sl-arrow-left-circle:before {
    content: "\e07a";
}
.sl-arrow-right-circle:before {
    content: "\e079";
}
.sl-arrow-down-circle:before {
    content: "\e07b";
}
.sl-check:before {
    content: "\e080";
}
.sl-clock:before {
    content: "\e081";
}
.sl-plus:before {
    content: "\e095";
}
.sl-close:before {
    content: "\e082";
}
.sl-trophy:before {
    content: "\e006";
}
.sl-screen-smartphone:before {
    content: "\e010";
}
.sl-screen-desktop:before {
    content: "\e011";
}
.sl-plane:before {
    content: "\e012";
}
.sl-notebook:before {
    content: "\e013";
}
.sl-mustache:before {
    content: "\e014";
}
.sl-mouse:before {
    content: "\e015";
}
.sl-magnet:before {
    content: "\e016";
}
.sl-energy:before {
    content: "\e020";
}
.sl-disc:before {
    content: "\e022";
}
.sl-cursor:before {
    content: "\e06e";
}
.sl-cursor-move:before {
    content: "\e023";
}
.sl-crop:before {
    content: "\e024";
}
.sl-chemistry:before {
    content: "\e026";
}
.sl-speedometer:before {
    content: "\e007";
}
.sl-shield:before {
    content: "\e00e";
}
.sl-screen-tablet:before {
    content: "\e00f";
}
.sl-magic-wand:before {
    content: "\e017";
}
.sl-hourglass:before {
    content: "\e018";
}
.sl-graduation:before {
    content: "\e019";
}
.sl-ghost:before {
    content: "\e01a";
}
.sl-game-controller:before {
    content: "\e01b";
}
.sl-fire:before {
    content: "\e01c";
}
.sl-eyeglass:before {
    content: "\e01d";
}
.sl-envelope-open:before {
    content: "\e01e";
}
.sl-envolope-letter:before {
    content: "\e01f";
}
.sl-bell:before {
    content: "\e027";
}
.sl-badge:before {
    content: "\e028";
}
.sl-anchor:before {
    content: "\e029";
}
.sl-wallet:before {
    content: "\e02a";
}
.sl-vector:before {
    content: "\e02b";
}
.sl-speech:before {
    content: "\e02c";
}
.sl-puzzle:before {
    content: "\e02d";
}
.sl-printer:before {
    content: "\e02e";
}
.sl-present:before {
    content: "\e02f";
}
.sl-playlist:before {
    content: "\e030";
}
.sl-pin:before {
    content: "\e031";
}
.sl-picture:before {
    content: "\e032";
}
.sl-handbag:before {
    content: "\e035";
}
.sl-globe-alt:before {
    content: "\e036";
}
.sl-globe:before {
    content: "\e037";
}
.sl-folder-alt:before {
    content: "\e039";
}
.sl-folder:before {
    content: "\e089";
}
.sl-film:before {
    content: "\e03a";
}
.sl-feed:before {
    content: "\e03b";
}
.sl-drop:before {
    content: "\e03e";
}
.sl-drawar:before {
    content: "\e03f";
}
.sl-docs:before {
    content: "\e040";
}
.sl-doc:before {
    content: "\e085";
}
.sl-diamond:before {
    content: "\e043";
}
.sl-cup:before {
    content: "\e044";
}
.sl-calculator:before {
    content: "\e049";
}
.sl-bubbles:before {
    content: "\e04a";
}
.sl-briefcase:before {
    content: "\e04b";
}
.sl-book-open:before {
    content: "\e04c";
}
.sl-basket-loaded:before {
    content: "\e04d";
}
.sl-basket:before {
    content: "\e04e";
}
.sl-bag:before {
    content: "\e04f";
}
.sl-action-undo:before {
    content: "\e050";
}
.sl-action-redo:before {
    content: "\e051";
}
.sl-wrench:before {
    content: "\e052";
}
.sl-umbrella:before {
    content: "\e053";
}
.sl-trash:before {
    content: "\e054";
}
.sl-tag:before {
    content: "\e055";
}
.sl-support:before {
    content: "\e056";
}
.sl-frame:before {
    content: "\e038";
}
.sl-size-fullscreen:before {
    content: "\e057";
}
.sl-size-actual:before {
    content: "\e058";
}
.sl-shuffle:before {
    content: "\e059";
}
.sl-share-alt:before {
    content: "\e05a";
}
.sl-share:before {
    content: "\e05b";
}
.sl-rocket:before {
    content: "\e05c";
}
.sl-question:before {
    content: "\e05d";
}
.sl-pie-chart:before {
    content: "\e05e";
}
.sl-pencil:before {
    content: "\e05f";
}
.sl-note:before {
    content: "\e060";
}
.sl-loop:before {
    content: "\e064";
}
.sl-home:before {
    content: "\e069";
}
.sl-grid:before {
    content: "\e06a";
}
.sl-graph:before {
    content: "\e06b";
}
.sl-microphone:before {
    content: "\e063";
}
.sl-music-tone-alt:before {
    content: "\e061";
}
.sl-music-tone:before {
    content: "\e062";
}
.sl-earphones-alt:before {
    content: "\e03c";
}
.sl-earphones:before {
    content: "\e03d";
}
.sl-equalizer:before {
    content: "\e06c";
}
.sl-like:before {
    content: "\e068";
}
.sl-dislike:before {
    content: "\e06d";
}
.sl-control-start:before {
    content: "\e06f";
}
.sl-control-rewind:before {
    content: "\e070";
}
.sl-control-play:before {
    content: "\e071";
}
.sl-control-pause:before {
    content: "\e072";
}
.sl-control-forward:before {
    content: "\e073";
}
.sl-control-end:before {
    content: "\e074";
}
.sl-volume-1:before {
    content: "\e09f";
}
.sl-volume-2:before {
    content: "\e0a0";
}
.sl-volume-off:before {
    content: "\e0a1";
}
.sl-calender:before {
    content: "\e075";
}
.sl-bulb:before {
    content: "\e076";
}
.sl-chart:before {
    content: "\e077";
}
.sl-ban:before {
    content: "\e07c";
}
.sl-bubble:before {
    content: "\e07d";
}
.sl-camrecorder:before {
    content: "\e07e";
}
.sl-camera:before {
    content: "\e07f";
}
.sl-cloud-download:before {
    content: "\e083";
}
.sl-cloud-upload:before {
    content: "\e084";
}
.sl-envolope:before {
    content: "\e086";
}
.sl-eye:before {
    content: "\e087";
}
.sl-flag:before {
    content: "\e088";
}
.sl-heart:before {
    content: "\e08a";
}
.sl-info:before {
    content: "\e08b";
}
.sl-key:before {
    content: "\e08c";
}
.sl-link:before {
    content: "\e08d";
}
.sl-lock:before {
    content: "\e08e";
}
.sl-lock-open:before {
    content: "\e08f";
}
.sl-magnifier:before {
    content: "\e090";
}
.sl-magnifier-add:before {
    content: "\e091";
}
.sl-magnifier-remove:before {
    content: "\e092";
}
.sl-paper-clip:before {
    content: "\e093";
}
.sl-paper-plane:before {
    content: "\e094";
}
.sl-power:before {
    content: "\e097";
}
.sl-refresh:before {
    content: "\e098";
}
.sl-reload:before {
    content: "\e099";
}
.sl-settings:before {
    content: "\e09a";
}
.sl-star:before {
    content: "\e09b";
}
.sl-symble-female:before {
    content: "\e09c";
}
.sl-symbol-male:before {
    content: "\e09d";
}
.sl-target:before {
    content: "\e09e";
}
.sl-credit-card:before {
    content: "\e025";
}
.sl-paypal:before {
    content: "\e608";
}
.sl-social-tumblr:before {
    content: "\e00a";
}
.sl-social-twitter:before {
    content: "\e009";
}
.sl-social-facebook:before {
    content: "\e00b";
}
.sl-social-instagram:before {
    content: "\e609";
}
.sl-social-linkedin:before {
    content: "\e60a";
}
.sl-social-pintarest:before {
    content: "\e60b";
}
.sl-social-github:before {
    content: "\e60c";
}
.sl-social-gplus:before {
    content: "\e60d";
}
.sl-social-reddit:before {
    content: "\e60e";
}
.sl-social-skype:before {
    content: "\e60f";
}
.sl-social-dribbble:before {
    content: "\e00d";
}
.sl-social-behance:before {
    content: "\e610";
}
.sl-social-foursqare:before {
    content: "\e611";
}
.sl-social-soundcloud:before {
    content: "\e612";
}
.sl-social-spotify:before {
    content: "\e613";
}
.sl-social-stumbleupon:before {
    content: "\e614";
}
.sl-social-youtube:before {
    content: "\e008";
}
.sl-social-dropbox:before {
    content: "\e00c";
}

/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
[class^="fa-"],
[class*=" fa-"],
[class^="fa-"]:before,
[class*=" fa-"]:before,
[class^="fab-"],
[class*=" fab-"],
[class^="fab-"]:before,
[class*=" fab-"]:before {
    font-family: "FontAwesome";
    font-style: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    text-rendering: auto;
    speak: none;
    font-weight: normal;
}
[class^="fab-"],
[class*=" fab-"],
[class^="fab-"]:before,
[class*=" fab-"]:before {
    font-family: "FontAwesomeBrands";
}
/* makes the font 33% larger relative to the icon container */
.fa-fw,
.fa-li {
    text-align: center;
}
.fa-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -0.0667em;
}
.fa-xs {
    font-size: 0.75em;
}
.fa-sm {
    font-size: 0.875em;
}
.fa-1x {
    font-size: 1em;
}
.fa-2x {
    font-size: 2em;
}
.fa-3x {
    font-size: 3em;
}
.fa-4x {
    font-size: 4em;
}
.fa-5x {
    font-size: 5em;
}
.fa-6x {
    font-size: 6em;
}
.fa-7x {
    font-size: 7em;
}
.fa-8x {
    font-size: 8em;
}
.fa-9x {
    font-size: 9em;
}
.fa-10x {
    font-size: 10em;
}
.fa-fw {
    width: 1.25em;
}
.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}
.fa-ul > li {
    position: relative;
}
.fa-li {
    left: -2em;
    position: absolute;
    width: 2em;
    line-height: inherit;
}
.fa-border {
    border: 0.08em solid #eee;
    border-radius: 0.1em;
    padding: 0.2em 0.25em 0.15em;
}
.fa-pull-left {
    float: left;
}
.fa-pull-right {
    float: right;
}
.fa.fa-pull-left,
.fab.fa-pull-left,
.fal.fa-pull-left,
.far.fa-pull-left,
.fas.fa-pull-left {
    margin-right: 0.3em;
}
.fa.fa-pull-right,
.fab.fa-pull-right,
.fal.fa-pull-right,
.far.fa-pull-right,
.fas.fa-pull-right {
    margin-left: 0.3em;
}
.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
}
.fa-flip-horizontal.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-rotate-90 {
    -webkit-filter: none;
    filter: none;
}
.fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2em;
}
.fa-stack-1x,
.fa-stack-2x {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.fa-stack-1x {
    line-height: inherit;
}
.fa-stack-2x {
    font-size: 2em;
}
.fa-inverse {
    color: #fff;
}
.fa-500px:before {
    content: "\f26e";
}
.fab-accessible-icon:before {
    content: "\f368";
}
.fab-accusoft:before {
    content: "\f369";
}
.fa-address-book:before {
    content: "\f2b9";
}
.fa-address-card:before {
    content: "\f2bb";
}
.fa-adjust:before {
    content: "\f042";
}
.fab-adn:before {
    content: "\f170";
}
.fab-adversal:before {
    content: "\f36a";
}
.fab-affiliatetheme:before {
    content: "\f36b";
}
.fab-algolia:before {
    content: "\f36c";
}
.fa-align-center:before {
    content: "\f037";
}
.fa-align-justify:before {
    content: "\f039";
}
.fa-align-left:before {
    content: "\f036";
}
.fa-align-right:before {
    content: "\f038";
}
.fa-allergies:before {
    content: "\f461";
}
.fab-amazon:before {
    content: "\f270";
}
.fab-amazon-pay:before {
    content: "\f42c";
}
.fa-ambulance:before {
    content: "\f0f9";
}
.fa-american-sign-language-interpreting:before {
    content: "\f2a3";
}
.fab-amilia:before {
    content: "\f36d";
}
.fa-anchor:before {
    content: "\f13d";
}
.fab-android:before {
    content: "\f17b";
}
.fab-angellist:before {
    content: "\f209";
}
.fa-angle-double-down:before {
    content: "\f103";
}
.fa-angle-double-left:before {
    content: "\f100";
}
.fa-angle-double-right:before {
    content: "\f101";
}
.fa-angle-double-up:before {
    content: "\f102";
}
.fa-angle-down:before {
    content: "\f107";
}
.fa-angle-left:before {
    content: "\f104";
}
.fa-angle-right:before {
    content: "\f105";
}
.fa-angle-up:before {
    content: "\f106";
}
.fab-angrycreative:before {
    content: "\f36e";
}
.fab-angular:before {
    content: "\f420";
}
.fab-app-store:before {
    content: "\f36f";
}
.fab-app-store-ios:before {
    content: "\f370";
}
.fab-apper:before {
    content: "\f371";
}
.fab-apple:before {
    content: "\f179";
}
.fab-apple-pay:before {
    content: "\f415";
}
.fa-archive:before {
    content: "\f187";
}
.fa-arrow-alt-circle-down:before {
    content: "\f358";
}
.fa-arrow-alt-circle-left:before {
    content: "\f359";
}
.fa-arrow-alt-circle-right:before {
    content: "\f35a";
}
.fa-arrow-alt-circle-up:before {
    content: "\f35b";
}
.fa-arrow-circle-down:before {
    content: "\f0ab";
}
.fa-arrow-circle-left:before {
    content: "\f0a8";
}
.fa-arrow-circle-right:before {
    content: "\f0a9";
}
.fa-arrow-circle-up:before {
    content: "\f0aa";
}
.fa-arrow-down:before {
    content: "\f063";
}
.fa-arrow-left:before {
    content: "\f060";
}
.fa-arrow-right:before {
    content: "\f061";
}
.fa-arrow-up:before {
    content: "\f062";
}
.fa-arrows-alt:before {
    content: "\f0b2";
}
.fa-arrows-alt-h:before {
    content: "\f337";
}
.fa-arrows-alt-v:before {
    content: "\f338";
}
.fa-assistive-listening-systems:before {
    content: "\f2a2";
}
.fa-asterisk:before {
    content: "\f069";
}
.fab-asymmetrik:before {
    content: "\f372";
}
.fa-at:before {
    content: "\f1fa";
}
.fab-audible:before {
    content: "\f373";
}
.fa-audio-description:before {
    content: "\f29e";
}
.fab-autoprefixer:before {
    content: "\f41c";
}
.fab-avianex:before {
    content: "\f374";
}
.fab-aviato:before {
    content: "\f421";
}
.fab-aws:before {
    content: "\f375";
}
.fa-backward:before {
    content: "\f04a";
}
.fa-balance-scale:before {
    content: "\f24e";
}
.fa-ban:before {
    content: "\f05e";
}
.fa-band-aid:before {
    content: "\f462";
}
.fa-bandcamp:before {
    content: "\f2d5";
}
.fa-barcode:before {
    content: "\f02a";
}
.fa-bars:before {
    content: "\f0c9";
}
.fa-baseball-ball:before {
    content: "\f433";
}
.fa-basketball-ball:before {
    content: "\f434";
}
.fa-bath:before {
    content: "\f2cd";
}
.fa-battery-empty:before {
    content: "\f244";
}
.fa-battery-full:before {
    content: "\f240";
}
.fa-battery-half:before {
    content: "\f242";
}
.fa-battery-quarter:before {
    content: "\f243";
}
.fa-battery-three-quarters:before {
    content: "\f241";
}
.fa-bed:before {
    content: "\f236";
}
.fa-beer:before {
    content: "\f0fc";
}
.fab-behance:before {
    content: "\f1b4";
}
.fab-behance-square:before {
    content: "\f1b5";
}
.fa-bell:before {
    content: "\f0f3";
}
.fa-bell-slash:before {
    content: "\f1f6";
}
.fa-bicycle:before {
    content: "\f206";
}
.fab-bimobject:before {
    content: "\f378";
}
.fa-binoculars:before {
    content: "\f1e5";
}
.fa-birthday-cake:before {
    content: "\f1fd";
}
.fab-bitbucket:before {
    content: "\f171";
}
.fab-bitcoin:before {
    content: "\f379";
}
.fab-bity:before {
    content: "\f37a";
}
.fab-black-tie:before {
    content: "\f27e";
}
.fab-blackberry:before {
    content: "\f37b";
}
.fa-blind:before {
    content: "\f29d";
}
.fab-blogger:before {
    content: "\f37c";
}
.fab-blogger-b:before {
    content: "\f37d";
}
.fab-bluetooth:before {
    content: "\f293";
}
.fab-bluetooth-b:before {
    content: "\f294";
}
.fa-bold:before {
    content: "\f032";
}
.fa-bolt:before {
    content: "\f0e7";
}
.fa-bomb:before {
    content: "\f1e2";
}
.fa-book:before {
    content: "\f02d";
}
.fa-bookmark:before {
    content: "\f02e";
}
.fa-bowling-ball:before {
    content: "\f436";
}
.fa-box:before {
    content: "\f466";
}
.fa-box-open:before {
    content: "\f49e";
}
.fa-boxes:before {
    content: "\f468";
}
.fa-braille:before {
    content: "\f2a1";
}
.fa-briefcase:before {
    content: "\f0b1";
}
.fa-briefcase-medical:before {
    content: "\f469";
}
.fab-btc:before {
    content: "\f15a";
}
.fa-bug:before {
    content: "\f188";
}
.fa-building:before {
    content: "\f1ad";
}
.fa-bullhorn:before {
    content: "\f0a1";
}
.fa-bullseye:before {
    content: "\f140";
}
.fa-burn:before {
    content: "\f46a";
}
.fab-buromobelexperte:before {
    content: "\f37f";
}
.fa-bus:before {
    content: "\f207";
}
.fab-buysellads:before {
    content: "\f20d";
}
.fa-calculator:before {
    content: "\f1ec";
}
.fa-calendar:before {
    content: "\f133";
}
.fa-calendar-alt:before {
    content: "\f073";
}
.fa-calendar-check:before {
    content: "\f274";
}
.fa-calendar-minus:before {
    content: "\f272";
}
.fa-calendar-plus:before {
    content: "\f271";
}
.fa-calendar-times:before {
    content: "\f273";
}
.fa-camera:before {
    content: "\f030";
}
.fa-camera-retro:before {
    content: "\f083";
}
.fa-capsules:before {
    content: "\f46b";
}
.fa-car:before {
    content: "\f1b9";
}
.fa-caret-down:before {
    content: "\f0d7";
}
.fa-caret-left:before {
    content: "\f0d9";
}
.fa-caret-right:before {
    content: "\f0da";
}
.fa-caret-square-down:before {
    content: "\f150";
}
.fa-caret-square-left:before {
    content: "\f191";
}
.fa-caret-square-right:before {
    content: "\f152";
}
.fa-caret-square-up:before {
    content: "\f151";
}
.fa-caret-up:before {
    content: "\f0d8";
}
.fa-cart-arrow-down:before {
    content: "\f218";
}
.fa-cart-plus:before {
    content: "\f217";
}
.fab-cc-amazon-pay:before {
    content: "\f42d";
}
.fab-cc-amex:before {
    content: "\f1f3";
}
.fab-cc-apple-pay:before {
    content: "\f416";
}
.fab-cc-diners-club:before {
    content: "\f24c";
}
.fab-cc-discover:before {
    content: "\f1f2";
}
.fab-cc-jcb:before {
    content: "\f24b";
}
.fab-cc-mastercard:before {
    content: "\f1f1";
}
.fab-cc-paypal:before {
    content: "\f1f4";
}
.fab-cc-stripe:before {
    content: "\f1f5";
}
.fab-cc-visa:before {
    content: "\f1f0";
}
.fab-centercode:before {
    content: "\f380";
}
.fa-certificate:before {
    content: "\f0a3";
}
.fa-chart-area:before {
    content: "\f1fe";
}
.fa-chart-bar:before {
    content: "\f080";
}
.fa-chart-line:before {
    content: "\f201";
}
.fa-chart-pie:before {
    content: "\f200";
}
.fa-check:before {
    content: "\f00c";
}
.fa-check-circle:before {
    content: "\f058";
}
.fa-check-square:before {
    content: "\f14a";
}
.fa-chess:before {
    content: "\f439";
}
.fa-chess-bishop:before {
    content: "\f43a";
}
.fa-chess-board:before {
    content: "\f43c";
}
.fa-chess-king:before {
    content: "\f43f";
}
.fa-chess-knight:before {
    content: "\f441";
}
.fa-chess-pawn:before {
    content: "\f443";
}
.fa-chess-queen:before {
    content: "\f445";
}
.fa-chess-rook:before {
    content: "\f447";
}
.fa-chevron-circle-down:before {
    content: "\f13a";
}
.fa-chevron-circle-left:before {
    content: "\f137";
}
.fa-chevron-circle-right:before {
    content: "\f138";
}
.fa-chevron-circle-up:before {
    content: "\f139";
}
.fa-chevron-down:before {
    content: "\f078";
}
.fa-chevron-left:before {
    content: "\f053";
}
.fa-chevron-right:before {
    content: "\f054";
}
.fa-chevron-up:before {
    content: "\f077";
}
.fa-child:before {
    content: "\f1ae";
}
.fab-chrome:before {
    content: "\f268";
}
.fa-circle:before {
    content: "\f111";
}
.fa-circle-notch:before {
    content: "\f1ce";
}
.fa-clipboard:before {
    content: "\f328";
}
.fa-clipboard-check:before {
    content: "\f46c";
}
.fa-clipboard-list:before {
    content: "\f46d";
}
.fa-clock:before {
    content: "\f017";
}
.fa-clone:before {
    content: "\f24d";
}
.fa-closed-captioning:before {
    content: "\f20a";
}
.fa-cloud:before {
    content: "\f0c2";
}
.fa-cloud-download-alt:before {
    content: "\f381";
}
.fa-cloud-upload-alt:before {
    content: "\f382";
}
.fab-cloudscale:before {
    content: "\f383";
}
.fab-cloudsmith:before {
    content: "\f384";
}
.fab-cloudversify:before {
    content: "\f385";
}
.fa-code:before {
    content: "\f121";
}
.fa-code-branch:before {
    content: "\f126";
}
.fab-codepen:before {
    content: "\f1cb";
}
.fab-codiepie:before {
    content: "\f284";
}
.fa-coffee:before {
    content: "\f0f4";
}
.fa-cog:before {
    content: "\f013";
}
.fa-cogs:before {
    content: "\f085";
}
.fa-columns:before {
    content: "\f0db";
}
.fa-comment:before {
    content: "\f075";
}
.fa-comment-alt:before {
    content: "\f27a";
}
.fa-comment-dots:before {
    content: "\f4ad";
}
.fa-comment-slash:before {
    content: "\f4b3";
}
.fa-comments:before {
    content: "\f086";
}
.fa-compass:before {
    content: "\f14e";
}
.fa-compress:before {
    content: "\f066";
}
.fab-connectdevelop:before {
    content: "\f20e";
}
.fab-contao:before {
    content: "\f26d";
}
.fa-copy:before {
    content: "\f0c5";
}
.fa-copyright:before {
    content: "\f1f9";
}
.fa-couch:before {
    content: "\f4b8";
}
.fab-cpanel:before {
    content: "\f388";
}
.fab-creative-commons:before {
    content: "\f25e";
}
.fa-credit-card:before {
    content: "\f09d";
}
.fa-crop:before {
    content: "\f125";
}
.fa-crosshairs:before {
    content: "\f05b";
}
.fab-css3:before {
    content: "\f13c";
}
.fab-css3-alt:before {
    content: "\f38b";
}
.fa-cube:before {
    content: "\f1b2";
}
.fa-cubes:before {
    content: "\f1b3";
}
.fa-cut:before {
    content: "\f0c4";
}
.fab-cuttlefish:before {
    content: "\f38c";
}
.fab-d-and-d:before {
    content: "\f38d";
}
.fab-dashcube:before {
    content: "\f210";
}
.fa-database:before {
    content: "\f1c0";
}
.fa-deaf:before {
    content: "\f2a4";
}
.fab-delicious:before {
    content: "\f1a5";
}
.fab-deploydog:before {
    content: "\f38e";
}
.fab-deskpro:before {
    content: "\f38f";
}
.fa-desktop:before {
    content: "\f108";
}
.fab-deviantart:before {
    content: "\f1bd";
}
.fa-diagnoses:before {
    content: "\f470";
}
.fab-digg:before {
    content: "\f1a6";
}
.fab-digital-ocean:before {
    content: "\f391";
}
.fab-discord:before {
    content: "\f392";
}
.fab-discourse:before {
    content: "\f393";
}
.fa-dna:before {
    content: "\f471";
}
.fab-dochub:before {
    content: "\f394";
}
.fab-docker:before {
    content: "\f395";
}
.fa-dollar-sign:before {
    content: "\f155";
}
.fa-dolly:before {
    content: "\f472";
}
.fa-dolly-flatbed:before {
    content: "\f474";
}
.fa-donate:before {
    content: "\f4b9";
}
.fa-dot-circle:before {
    content: "\f192";
}
.fa-dove:before {
    content: "\f4ba";
}
.fa-download:before {
    content: "\f019";
}
.fab-draft2digital:before {
    content: "\f396";
}
.fab-dribbble:before {
    content: "\f17d";
}
.fab-dribbble-square:before {
    content: "\f397";
}
.fab-dropbox:before {
    content: "\f16b";
}
.fab-drupal:before {
    content: "\f1a9";
}
.fab-dyalog:before {
    content: "\f399";
}
.fab-earlybirds:before {
    content: "\f39a";
}
.fab-edge:before {
    content: "\f282";
}
.fa-edit:before {
    content: "\f044";
}
.fa-eject:before {
    content: "\f052";
}
.fab-elementor:before {
    content: "\f430";
}
.fa-ellipsis-h:before {
    content: "\f141";
}
.fa-ellipsis-v:before {
    content: "\f142";
}
.fab-ember:before {
    content: "\f423";
}
.fab-empire:before {
    content: "\f1d1";
}
.fa-envelope:before {
    content: "\f0e0";
}
.fa-envelope-open:before {
    content: "\f2b6";
}
.fa-envelope-square:before {
    content: "\f199";
}
.fab-envira:before {
    content: "\f299";
}
.fa-eraser:before {
    content: "\f12d";
}
.fa-erlang:before {
    content: "\f39d";
}
.fab-ethereum:before {
    content: "\f42e";
}
.fab-etsy:before {
    content: "\f2d7";
}
.fa-euro-sign:before {
    content: "\f153";
}
.fa-exchange-alt:before {
    content: "\f362";
}
.fa-exclamation:before {
    content: "\f12a";
}
.fa-exclamation-circle:before {
    content: "\f06a";
}
.fa-exclamation-triangle:before {
    content: "\f071";
}
.fa-expand:before {
    content: "\f065";
}
.fa-expand-arrows-alt:before {
    content: "\f31e";
}
.fab-expeditedssl:before {
    content: "\f23e";
}
.fa-external-link-alt:before {
    content: "\f35d";
}
.fa-external-link-square-alt:before {
    content: "\f360";
}
.fa-eye:before {
    content: "\f06e";
}
.fa-eye-dropper:before {
    content: "\f1fb";
}
.fa-eye-slash:before {
    content: "\f070";
}
.fab-facebook:before {
    content: "\f09a";
}
.fab-facebook-f:before {
    content: "\f39e";
}
.fab-facebook-messenger:before {
    content: "\f39f";
}
.fab-facebook-square:before {
    content: "\f082";
}
.fa-fast-backward:before {
    content: "\f049";
}
.fa-fast-forward:before {
    content: "\f050";
}
.fa-fax:before {
    content: "\f1ac";
}
.fa-female:before {
    content: "\f182";
}
.fa-fighter-jet:before {
    content: "\f0fb";
}
.fa-file:before {
    content: "\f15b";
}
.fa-file-alt:before {
    content: "\f15c";
}
.fa-file-archive:before {
    content: "\f1c6";
}
.fa-file-audio:before {
    content: "\f1c7";
}
.fa-file-code:before {
    content: "\f1c9";
}
.fa-file-excel:before {
    content: "\f1c3";
}
.fa-file-image:before {
    content: "\f1c5";
}
.fa-file-medical:before {
    content: "\f477";
}
.fa-file-medical-alt:before {
    content: "\f478";
}
.fa-file-pdf:before {
    content: "\f1c1";
}
.fa-file-powerpoint:before {
    content: "\f1c4";
}
.fa-file-video:before {
    content: "\f1c8";
}
.fa-file-word:before {
    content: "\f1c2";
}
.fa-film:before {
    content: "\f008";
}
.fa-filter:before {
    content: "\f0b0";
}
.fa-fire:before {
    content: "\f06d";
}
.fa-fire-extinguisher:before {
    content: "\f134";
}
.fab-firefox:before {
    content: "\f269";
}
.fa-first-aid:before {
    content: "\f479";
}
.fab-first-order:before {
    content: "\f2b0";
}
.fab-firstdraft:before {
    content: "\f3a1";
}
.fa-flag:before {
    content: "\f024";
}
.fa-flag-checkered:before {
    content: "\f11e";
}
.fa-flask:before {
    content: "\f0c3";
}
.fab-flickr:before {
    content: "\f16e";
}
.fab-flipboard:before {
    content: "\f44d";
}
.fab-fly:before {
    content: "\f417";
}
.fa-folder:before {
    content: "\f07b";
}
.fa-folder-open:before {
    content: "\f07c";
}
.fa-font:before {
    content: "\f031";
}
.fab-font-awesome:before {
    content: "\f2b4";
}
.fab-font-awesome-alt:before {
    content: "\f35c";
}
.fab-font-awesome-flag:before {
    content: "\f425";
}
.fab-fonticons:before {
    content: "\f280";
}
.fab-fonticons-fi:before {
    content: "\f3a2";
}
.fa-football-ball:before {
    content: "\f44e";
}
.fab-fort-awesome:before {
    content: "\f286";
}
.fab-fort-awesome-alt:before {
    content: "\f3a3";
}
.fab-forumbee:before {
    content: "\f211";
}
.fa-forward:before {
    content: "\f04e";
}
.fab-foursquare:before {
    content: "\f180";
}
.fa-free-code-camp:before {
    content: "\f2c5";
}
.fa-freebsd:before {
    content: "\f3a4";
}
.fa-frown:before {
    content: "\f119";
}
.fa-futbol:before {
    content: "\f1e3";
}
.fa-gamepad:before {
    content: "\f11b";
}
.fa-gavel:before {
    content: "\f0e3";
}
.fa-gem:before {
    content: "\f3a5";
}
.fa-genderless:before {
    content: "\f22d";
}
.fab-get-pocket:before {
    content: "\f265";
}
.fab-gg:before {
    content: "\f260";
}
.fab-gg-circle:before {
    content: "\f261";
}
.fa-gift:before {
    content: "\f06b";
}
.fab-git:before {
    content: "\f1d3";
}
.fab-git-square:before {
    content: "\f1d2";
}
.fab-github:before {
    content: "\f09b";
}
.fab-github-alt:before {
    content: "\f113";
}
.fab-github-square:before {
    content: "\f092";
}
.fab-gitkraken:before {
    content: "\f3a6";
}
.fab-gitlab:before {
    content: "\f296";
}
.fab-gitter:before {
    content: "\f426";
}
.fa-glass-martini:before {
    content: "\f000";
}
.fab-glide:before {
    content: "\f2a5";
}
.fab-glide-g:before {
    content: "\f2a6";
}
.fa-globe:before {
    content: "\f0ac";
}
.fab-gofore:before {
    content: "\f3a7";
}
.fa-golf-ball:before {
    content: "\f450";
}
.fab-goodreads:before {
    content: "\f3a8";
}
.fab-goodreads-g:before {
    content: "\f3a9";
}
.fab-google:before {
    content: "\f1a0";
}
.fab-google-drive:before {
    content: "\f3aa";
}
.fab-google-play:before {
    content: "\f3ab";
}
.fab-google-plus:before {
    content: "\f2b3";
}
.fab-google-plus-g:before {
    content: "\f0d5";
}
.fab-google-plus-square:before {
    content: "\f0d4";
}
.fab-google-wallet:before {
    content: "\f1ee";
}
.fa-graduation-cap:before {
    content: "\f19d";
}
.fab-gratipay:before {
    content: "\f184";
}
.fab-grav:before {
    content: "\f2d6";
}
.fab-gripfire:before {
    content: "\f3ac";
}
.fab-grunt:before {
    content: "\f3ad";
}
.fab-gulp:before {
    content: "\f3ae";
}
.fa-h-square:before {
    content: "\f0fd";
}
.fab-hacker-news:before {
    content: "\f1d4";
}
.fab-hacker-news-square:before {
    content: "\f3af";
}
.fa-hand-holding:before {
    content: "\f4bd";
}
.fa-hand-holding-heart:before {
    content: "\f4be";
}
.fa-hand-holding-usd:before {
    content: "\f4c0";
}
.fa-hand-lizard:before {
    content: "\f258";
}
.fa-hand-paper:before {
    content: "\f256";
}
.fa-hand-peace:before {
    content: "\f25b";
}
.fa-hand-point-down:before {
    content: "\f0a7";
}
.fa-hand-point-left:before {
    content: "\f0a5";
}
.fa-hand-point-right:before {
    content: "\f0a4";
}
.fa-hand-point-up:before {
    content: "\f0a6";
}
.fa-hand-pointer:before {
    content: "\f25a";
}
.fa-hand-rock:before {
    content: "\f255";
}
.fa-hand-scissors:before {
    content: "\f257";
}
.fa-hand-spock:before {
    content: "\f259";
}
.fa-hands:before {
    content: "\f4c2";
}
.fa-hands-helping:before {
    content: "\f4c4";
}
.fa-handshake:before {
    content: "\f2b5";
}
.fa-hashtag:before {
    content: "\f292";
}
.fa-hdd:before {
    content: "\f0a0";
}
.fa-heading:before {
    content: "\f1dc";
}
.fa-headphones:before {
    content: "\f025";
}
.fa-heart:before {
    content: "\f004";
}
.fa-heartbeat:before {
    content: "\f21e";
}
.fab-hips:before {
    content: "\f452";
}
.fab-hire-a-helper:before {
    content: "\f3b0";
}
.fa-history:before {
    content: "\f1da";
}
.fa-hockey-puck:before {
    content: "\f453";
}
.fa-home:before {
    content: "\f015";
}
.fab-hooli:before {
    content: "\f427";
}
.fa-hospital:before {
    content: "\f0f8";
}
.fa-hospital-alt:before {
    content: "\f47d";
}
.fa-hospital-symbol:before {
    content: "\f47e";
}
.fab-hotjar:before {
    content: "\f3b1";
}
.fa-hourglass:before {
    content: "\f254";
}
.fa-hourglass-end:before {
    content: "\f253";
}
.fa-hourglass-half:before {
    content: "\f252";
}
.fa-hourglass-start:before {
    content: "\f251";
}
.fab-houzz:before {
    content: "\f27c";
}
.fab-html5:before {
    content: "\f13b";
}
.fab-hubspot:before {
    content: "\f3b2";
}
.fa-i-cursor:before {
    content: "\f246";
}
.fa-id-badge:before {
    content: "\f2c1";
}
.fa-id-card:before {
    content: "\f2c2";
}
.fa-id-card-alt:before {
    content: "\f47f";
}
.fa-image:before {
    content: "\f03e";
}
.fa-images:before {
    content: "\f302";
}
.fab-imdb:before {
    content: "\f2d8";
}
.fa-inbox:before {
    content: "\f01c";
}
.fa-indent:before {
    content: "\f03c";
}
.fa-industry:before {
    content: "\f275";
}
.fa-info:before {
    content: "\f129";
}
.fa-info-circle:before {
    content: "\f05a";
}
.fab-instagram:before {
    content: "\f16d";
}
.fab-internet-explorer:before {
    content: "\f26b";
}
.fab-ioxhost:before {
    content: "\f208";
}
.fa-italic:before {
    content: "\f033";
}
.fab-itunes:before {
    content: "\f3b4";
}
.fab-itunes-note:before {
    content: "\f3b5";
}
.fab-java:before {
    content: "\f4e4";
}
.fab-jenkins:before {
    content: "\f3b6";
}
.fab-joget:before {
    content: "\f3b7";
}
.fab-joomla:before {
    content: "\f1aa";
}
.fab-js:before {
    content: "\f3b8";
}
.fab-js-square:before {
    content: "\f3b9";
}
.fa-jsfiddle:before {
    content: "\f1cc";
}
.fa-key:before {
    content: "\f084";
}
.fa-keyboard:before {
    content: "\f11c";
}
.fab-keycdn:before {
    content: "\f3ba";
}
.fab-kickstarter:before {
    content: "\f3bb";
}
.fab-kickstarter-k:before {
    content: "\f3bc";
}
.fab-korvue:before {
    content: "\f42f";
}
.fa-language:before {
    content: "\f1ab";
}
.fa-laptop:before {
    content: "\f109";
}
.fab-laravel:before {
    content: "\f3bd";
}
.fab-lastfm:before {
    content: "\f202";
}
.fab-lastfm-square:before {
    content: "\f203";
}
.fa-leaf:before {
    content: "\f06c";
}
.fab-leanpub:before {
    content: "\f212";
}
.fa-lemon:before {
    content: "\f094";
}
.fab-less:before {
    content: "\f41d";
}
.fa-level-down-alt:before {
    content: "\f3be";
}
.fa-level-up-alt:before {
    content: "\f3bf";
}
.fa-life-ring:before {
    content: "\f1cd";
}
.fa-lightbulb:before {
    content: "\f0eb";
}
.fab-line:before {
    content: "\f3c0";
}
.fa-link:before {
    content: "\f0c1";
}
.fab-linkedin:before {
    content: "\f08c";
}
.fab-linkedin-in:before {
    content: "\f0e1";
}
.fab-linode:before {
    content: "\f2b8";
}
.fab-linux:before {
    content: "\f17c";
}
.fa-lira-sign:before {
    content: "\f195";
}
.fa-list:before {
    content: "\f03a";
}
.fa-list-alt:before {
    content: "\f022";
}
.fa-list-ol:before {
    content: "\f0cb";
}
.fa-list-ul:before {
    content: "\f0ca";
}
.fa-location-arrow:before {
    content: "\f124";
}
.fa-lock:before {
    content: "\f023";
}
.fa-lock-open:before {
    content: "\f3c1";
}
.fa-long-arrow-alt-down:before {
    content: "\f309";
}
.fa-long-arrow-alt-left:before {
    content: "\f30a";
}
.fa-long-arrow-alt-right:before {
    content: "\f30b";
}
.fa-long-arrow-alt-up:before {
    content: "\f30c";
}
.fa-low-vision:before {
    content: "\f2a8";
}
.fab-lyft:before {
    content: "\f3c3";
}
.fab-magento:before {
    content: "\f3c4";
}
.fa-magic:before {
    content: "\f0d0";
}
.fa-magnet:before {
    content: "\f076";
}
.fa-male:before {
    content: "\f183";
}
.fa-map:before {
    content: "\f279";
}
.fa-map-marker:before {
    content: "\f041";
}
.fa-map-marker-alt:before {
    content: "\f3c5";
}
.fa-map-pin:before {
    content: "\f276";
}
.fa-map-signs:before {
    content: "\f277";
}
.fa-mars:before {
    content: "\f222";
}
.fa-mars-double:before {
    content: "\f227";
}
.fa-mars-stroke:before {
    content: "\f229";
}
.fa-mars-stroke-h:before {
    content: "\f22b";
}
.fa-mars-stroke-v:before {
    content: "\f22a";
}
.fab-maxcdn:before {
    content: "\f136";
}
.fab-medapps:before {
    content: "\f3c6";
}
.fab-medium:before {
    content: "\f23a";
}
.fab-medium-m:before {
    content: "\f3c7";
}
.fa-medkit:before {
    content: "\f0fa";
}
.fab-medrt:before {
    content: "\f3c8";
}
.fab-meetup:before {
    content: "\f2e0";
}
.fa-meh:before {
    content: "\f11a";
}
.fa-mercury:before {
    content: "\f223";
}
.fa-microchip:before {
    content: "\f2db";
}
.fa-microphone:before {
    content: "\f130";
}
.fa-microphone-slash:before {
    content: "\f131";
}
.fab-microsoft:before {
    content: "\f3ca";
}
.fa-minus:before {
    content: "\f068";
}
.fa-minus-circle:before {
    content: "\f056";
}
.fa-minus-square:before {
    content: "\f146";
}
.fab-mix:before {
    content: "\f3cb";
}
.fab-mixcloud:before {
    content: "\f289";
}
.fab-mizuni:before {
    content: "\f3cc";
}
.fa-mobile:before {
    content: "\f10b";
}
.fa-mobile-alt:before {
    content: "\f3cd";
}
.fab-modx:before {
    content: "\f285";
}
.fab-monero:before {
    content: "\f3d0";
}
.fa-money-bill-alt:before {
    content: "\f3d1";
}
.fa-moon:before {
    content: "\f186";
}
.fa-motorcycle:before {
    content: "\f21c";
}
.fa-mouse-pointer:before {
    content: "\f245";
}
.fa-music:before {
    content: "\f001";
}
.fab-napster:before {
    content: "\f3d2";
}
.fa-neuter:before {
    content: "\f22c";
}
.fa-newspaper:before {
    content: "\f1ea";
}
.fa-nintendo-switch:before {
    content: "\f418";
}
.fab-node:before {
    content: "\f419";
}
.fab-node-js:before {
    content: "\f3d3";
}
.fa-notes-medical:before {
    content: "\f481";
}
.fab-npm:before {
    content: "\f3d4";
}
.fab-ns8:before {
    content: "\f3d5";
}
.fab-nutritionix:before {
    content: "\f3d6";
}
.fa-object-group:before {
    content: "\f247";
}
.fa-object-ungroup:before {
    content: "\f248";
}
.fab-odnoklassniki:before {
    content: "\f263";
}
.fab-odnoklassniki-square:before {
    content: "\f264";
}
.fab-opencart:before {
    content: "\f23d";
}
.fab-openid:before {
    content: "\f19b";
}
.fab-opera:before {
    content: "\f26a";
}
.fab-optin-monster:before {
    content: "\f23c";
}
.fab-osi:before {
    content: "\f41a";
}
.fa-outdent:before {
    content: "\f03b";
}
.fab-page4:before {
    content: "\f3d7";
}
.fab-pagelines:before {
    content: "\f18c";
}
.fa-paint-brush:before {
    content: "\f1fc";
}
.fa-palfed:before {
    content: "\f3d8";
}
.fa-pallet:before {
    content: "\f482";
}
.fa-paper-plane:before {
    content: "\f1d8";
}
.fa-paperclip:before {
    content: "\f0c6";
}
.fa-parachute-box:before {
    content: "\f4cd";
}
.fa-paragraph:before {
    content: "\f1dd";
}
.fa-paste:before {
    content: "\f0ea";
}
.fa-patreon:before {
    content: "\f3d9";
}
.fa-pause:before {
    content: "\f04c";
}
.fa-pause-circle:before {
    content: "\f28b";
}
.fa-paw:before {
    content: "\f1b0";
}
.fab-paypal:before {
    content: "\f1ed";
}
.fa-pen-square:before {
    content: "\f14b";
}
.fa-pencil-alt:before {
    content: "\f303";
}
.fa-people-carry:before {
    content: "\f4ce";
}
.fa-percent:before {
    content: "\f295";
}
.fab-periscope:before {
    content: "\f3da";
}
.fab-phabricator:before {
    content: "\f3db";
}
.fab-phoenix-framework:before {
    content: "\f3dc";
}
.fa-phone:before {
    content: "\f095";
}
.fa-phone-slash:before {
    content: "\f3dd";
}
.fa-phone-square:before {
    content: "\f098";
}
.fa-phone-volume:before {
    content: "\f2a0";
}
.fab-php:before {
    content: "\f457";
}
.fab-pied-piper:before {
    content: "\f2ae";
}
.fab-pied-piper-alt:before {
    content: "\f1a8";
}
.fab-pied-piper-hat:before {
    content: "\f4e5";
}
.fab-pied-piper-pp:before {
    content: "\f1a7";
}
.fa-piggy-bank:before {
    content: "\f4d3";
}
.fa-pills:before {
    content: "\f484";
}
.fab-pinterest:before {
    content: "\f0d2";
}
.fab-pinterest-p:before {
    content: "\f231";
}
.fab-pinterest-square:before {
    content: "\f0d3";
}
.fa-plane:before {
    content: "\f072";
}
.fa-play:before {
    content: "\f04b";
}
.fa-play-circle:before {
    content: "\f144";
}
.fab-playstation:before {
    content: "\f3df";
}
.fa-plug:before {
    content: "\f1e6";
}
.fa-plus:before {
    content: "\f067";
}
.fa-plus-circle:before {
    content: "\f055";
}
.fa-plus-square:before {
    content: "\f0fe";
}
.fa-podcast:before {
    content: "\f2ce";
}
.fa-poo:before {
    content: "\f2fe";
}
.fa-pound-sign:before {
    content: "\f154";
}
.fa-power-off:before {
    content: "\f011";
}
.fa-prescription-bottle:before {
    content: "\f485";
}
.fa-prescription-bottle-alt:before {
    content: "\f486";
}
.fa-print:before {
    content: "\f02f";
}
.fa-procedures:before {
    content: "\f487";
}
.fab-product-hunt:before {
    content: "\f288";
}
.fab-pushed:before {
    content: "\f3e1";
}
.fa-puzzle-piece:before {
    content: "\f12e";
}
.fab-python:before {
    content: "\f3e2";
}
.fab-qq:before {
    content: "\f1d6";
}
.fa-qrcode:before {
    content: "\f029";
}
.fa-question:before {
    content: "\f128";
}
.fa-question-circle:before {
    content: "\f059";
}
.fa-quidditch:before {
    content: "\f458";
}
.fab-quinscape:before {
    content: "\f459";
}
.fab-quora:before {
    content: "\f2c4";
}
.fa-quote-left:before {
    content: "\f10d";
}
.fa-quote-right:before {
    content: "\f10e";
}
.fa-random:before {
    content: "\f074";
}
.fab-ravelry:before {
    content: "\f2d9";
}
.fab-react:before {
    content: "\f41b";
}
.fab-readme:before {
    content: "\f4d5";
}
.fab-rebel:before {
    content: "\f1d0";
}
.fa-recycle:before {
    content: "\f1b8";
}
.fab-red-river:before {
    content: "\f3e3";
}
.fa-reddit:before {
    content: "\f1a1";
}
.fa-reddit-alien:before {
    content: "\f281";
}
.fab-reddit-square:before {
    content: "\f1a2";
}
.fa-redo:before {
    content: "\f01e";
}
.fa-redo-alt:before {
    content: "\f2f9";
}
.fa-registered:before {
    content: "\f25d";
}
.fab-rendact:before {
    content: "\f3e4";
}
.fab-renren:before {
    content: "\f18b";
}
.fa-reply:before {
    content: "\f3e5";
}
.fa-reply-all:before {
    content: "\f122";
}
.fab-replyd:before {
    content: "\f3e6";
}
.fab-resolving:before {
    content: "\f3e7";
}
.fa-retweet:before {
    content: "\f079";
}
.fa-ribbon:before {
    content: "\f4d6";
}
.fa-road:before {
    content: "\f018";
}
.fa-rocket:before {
    content: "\f135";
}
.fab-rocketchat:before {
    content: "\f3e8";
}
.fab-rockrms:before {
    content: "\f3e9";
}
.fa-rss:before {
    content: "\f09e";
}
.fa-rss-square:before {
    content: "\f143";
}
.fa-ruble-sign:before {
    content: "\f158";
}
.fa-rupee-sign:before {
    content: "\f156";
}
.fab-safari:before {
    content: "\f267";
}
.fab-sass:before {
    content: "\f41e";
}
.fa-save:before {
    content: "\f0c7";
}
.fab-schlix:before {
    content: "\f3ea";
}
.fab-scribd:before {
    content: "\f28a";
}
.fa-search:before {
    content: "\f002";
}
.fa-search-minus:before {
    content: "\f010";
}
.fa-search-plus:before {
    content: "\f00e";
}
.fab-searchengin:before {
    content: "\f3eb";
}
.fa-seedling:before {
    content: "\f4d8";
}
.fab-sellcast:before {
    content: "\f2da";
}
.fab-sellsy:before {
    content: "\f213";
}
.fa-server:before {
    content: "\f233";
}
.fab-servicestack:before {
    content: "\f3ec";
}
.fa-share:before {
    content: "\f064";
}
.fa-share-alt:before {
    content: "\f1e0";
}
.fa-share-alt-square:before {
    content: "\f1e1";
}
.fa-share-square:before {
    content: "\f14d";
}
.fa-shekel-sign:before {
    content: "\f20b";
}
.fa-shield-alt:before {
    content: "\f3ed";
}
.fa-ship:before {
    content: "\f21a";
}
.fa-shipping-fast:before {
    content: "\f48b";
}
.fab-shirtsinbulk:before {
    content: "\f214";
}
.fa-shopping-bag:before {
    content: "\f290";
}
.fa-shopping-basket:before {
    content: "\f291";
}
.fa-shopping-cart:before {
    content: "\f07a";
}
.fa-shower:before {
    content: "\f2cc";
}
.fa-sign:before {
    content: "\f4d9";
}
.fa-sign-in-alt:before {
    content: "\f2f6";
}
.fa-sign-language:before {
    content: "\f2a7";
}
.fa-sign-out-alt:before {
    content: "\f2f5";
}
.fa-signal:before {
    content: "\f012";
}
.fab-simplybuilt:before {
    content: "\f215";
}
.fab-sistrix:before {
    content: "\f3ee";
}
.fa-sitemap:before {
    content: "\f0e8";
}
.fab-skyatlas:before {
    content: "\f216";
}
.fab-skype:before {
    content: "\f17e";
}
.fab-slack:before {
    content: "\f198";
}
.fab-slack-hash:before {
    content: "\f3ef";
}
.fa-sliders-h:before {
    content: "\f1de";
}
.fab-slideshare:before {
    content: "\f1e7";
}
.fa-smile:before {
    content: "\f118";
}
.fa-smoking:before {
    content: "\f48d";
}
.fa-snapchat:before {
    content: "\f2ab";
}
.fab-snapchat-ghost:before {
    content: "\f2ac";
}
.fab-snapchat-square:before {
    content: "\f2ad";
}
.fa-snowflake:before {
    content: "\f2dc";
}
.fa-sort:before {
    content: "\f0dc";
}
.fa-sort-alpha-down:before {
    content: "\f15d";
}
.fa-sort-alpha-up:before {
    content: "\f15e";
}
.fa-sort-amount-down:before {
    content: "\f160";
}
.fa-sort-amount-up:before {
    content: "\f161";
}
.fa-sort-down:before {
    content: "\f0dd";
}
.fa-sort-numeric-down:before {
    content: "\f162";
}
.fa-sort-numeric-up:before {
    content: "\f163";
}
.fa-sort-up:before {
    content: "\f0de";
}
.fab-soundcloud:before {
    content: "\f1be";
}
.fa-space-shuttle:before {
    content: "\f197";
}
.fab-speakap:before {
    content: "\f3f3";
}
.fa-spinner:before {
    content: "\f110";
}
.fab-spotify:before {
    content: "\f1bc";
}
.fa-square:before {
    content: "\f0c8";
}
.fa-square-full:before {
    content: "\f45c";
}
.fab-stack-exchange:before {
    content: "\f18d";
}
.fab-stack-overflow:before {
    content: "\f16c";
}
.fa-star:before {
    content: "\f005";
}
.fa-star-half:before {
    content: "\f089";
}
.fab-staylinked:before {
    content: "\f3f5";
}
.fab-steam:before {
    content: "\f1b6";
}
.fab-steam-square:before {
    content: "\f1b7";
}
.fab-steam-symbol:before {
    content: "\f3f6";
}
.fa-step-backward:before {
    content: "\f048";
}
.fa-step-forward:before {
    content: "\f051";
}
.fa-stethoscope:before {
    content: "\f0f1";
}
.fab-sticker-mule:before {
    content: "\f3f7";
}
.fa-sticky-note:before {
    content: "\f249";
}
.fa-stop:before {
    content: "\f04d";
}
.fa-stop-circle:before {
    content: "\f28d";
}
.fa-stopwatch:before {
    content: "\f2f2";
}
.fab-strava:before {
    content: "\f428";
}
.fa-street-view:before {
    content: "\f21d";
}
.fa-strikethrough:before {
    content: "\f0cc";
}
.fab-stripe:before {
    content: "\f429";
}
.fab-stripe-s:before {
    content: "\f42a";
}
.fab-studiovinari:before {
    content: "\f3f8";
}
.fab-stumbleupon:before {
    content: "\f1a4";
}
.fab-stumbleupon-circle:before {
    content: "\f1a3";
}
.fa-subscript:before {
    content: "\f12c";
}
.fa-subway:before {
    content: "\f239";
}
.fa-suitcase:before {
    content: "\f0f2";
}
.fa-sun:before {
    content: "\f185";
}
.fab-superpowers:before {
    content: "\f2dd";
}
.fa-superscript:before {
    content: "\f12b";
}
.fab-supple:before {
    content: "\f3f9";
}
.fa-sync:before {
    content: "\f021";
}
.fa-sync-alt:before {
    content: "\f2f1";
}
.fa-syringe:before {
    content: "\f48e";
}
.fa-table:before {
    content: "\f0ce";
}
.fa-table-tennis:before {
    content: "\f45d";
}
.fa-tablet:before {
    content: "\f10a";
}
.fa-tablet-alt:before {
    content: "\f3fa";
}
.fa-tablets:before {
    content: "\f490";
}
.fa-tachometer-alt:before {
    content: "\f3fd";
}
.fa-tag:before {
    content: "\f02b";
}
.fa-tags:before {
    content: "\f02c";
}
.fa-tape:before {
    content: "\f4db";
}
.fa-tasks:before {
    content: "\f0ae";
}
.fa-taxi:before {
    content: "\f1ba";
}
.fab-telegram:before {
    content: "\f2c6";
}
.fab-telegram-plane:before {
    content: "\f3fe";
}
.fab-tencent-weibo:before {
    content: "\f1d5";
}
.fa-terminal:before {
    content: "\f120";
}
.fa-text-height:before {
    content: "\f034";
}
.fa-text-width:before {
    content: "\f035";
}
.fa-th:before {
    content: "\f00a";
}
.fa-th-large:before {
    content: "\f009";
}
.fa-th-list:before {
    content: "\f00b";
}
.fab-themeisle:before {
    content: "\f2b2";
}
.fa-thermometer:before {
    content: "\f491";
}
.fa-thermometer-empty:before {
    content: "\f2cb";
}
.fa-thermometer-full:before {
    content: "\f2c7";
}
.fa-thermometer-half:before {
    content: "\f2c9";
}
.fa-thermometer-quarter:before {
    content: "\f2ca";
}
.fa-thermometer-three-quarters:before {
    content: "\f2c8";
}
.fa-thumbs-down:before {
    content: "\f165";
}
.fa-thumbs-up:before {
    content: "\f164";
}
.fa-thumbtack:before {
    content: "\f08d";
}
.fa-ticket-alt:before {
    content: "\f3ff";
}
.fa-times:before {
    content: "\f00d";
}
.fa-times-circle:before {
    content: "\f057";
}
.fa-tint:before {
    content: "\f043";
}
.fa-toggle-off:before {
    content: "\f204";
}
.fa-toggle-on:before {
    content: "\f205";
}
.fa-trademark:before {
    content: "\f25c";
}
.fa-train:before {
    content: "\f238";
}
.fa-transgender:before {
    content: "\f224";
}
.fa-transgender-alt:before {
    content: "\f225";
}
.fa-trash:before {
    content: "\f1f8";
}
.fa-trash-alt:before {
    content: "\f2ed";
}
.fa-tree:before {
    content: "\f1bb";
}
.fab-trello:before {
    content: "\f181";
}
.fab-tripadvisor:before {
    content: "\f262";
}
.fa-trophy:before {
    content: "\f091";
}
.fa-truck:before {
    content: "\f0d1";
}
.fa-truck-loading:before {
    content: "\f4de";
}
.fa-truck-moving:before {
    content: "\f4df";
}
.fa-tty:before {
    content: "\f1e4";
}
.fab-tumblr:before {
    content: "\f173";
}
.fab-tumblr-square:before {
    content: "\f174";
}
.fa-tv:before {
    content: "\f26c";
}
.fab-twitch:before {
    content: "\f1e8";
}
.fab-twitter:before {
    content: "\f099";
}
.fab-twitter-square:before {
    content: "\f081";
}
.fab-typo3:before {
    content: "\f42b";
}
.fab-uber:before {
    content: "\f402";
}
.fab-uikit:before {
    content: "\f403";
}
.fa-umbrella:before {
    content: "\f0e9";
}
.fa-underline:before {
    content: "\f0cd";
}
.fa-undo:before {
    content: "\f0e2";
}
.fa-undo-alt:before {
    content: "\f2ea";
}
.fab-uniregistry:before {
    content: "\f404";
}
.fa-universal-access:before {
    content: "\f29a";
}
.fa-university:before {
    content: "\f19c";
}
.fa-unlink:before {
    content: "\f127";
}
.fa-unlock:before {
    content: "\f09c";
}
.fa-unlock-alt:before {
    content: "\f13e";
}
.fa-untappd:before {
    content: "\f405";
}
.fa-upload:before {
    content: "\f093";
}
.fab-usb:before {
    content: "\f287";
}
.fa-user:before {
    content: "\f007";
}
.fa-user-circle:before {
    content: "\f2bd";
}
.fa-user-md:before {
    content: "\f0f0";
}
.fa-user-plus:before {
    content: "\f234";
}
.fa-user-secret:before {
    content: "\f21b";
}
.fa-user-times:before {
    content: "\f235";
}
.fa-users:before {
    content: "\f0c0";
}
.fab-ussunnah:before {
    content: "\f407";
}
.fa-utensil-spoon:before {
    content: "\f2e5";
}
.fa-utensils:before {
    content: "\f2e7";
}
.fab-vaadin:before {
    content: "\f408";
}
.fa-venus:before {
    content: "\f221";
}
.fa-venus-double:before {
    content: "\f226";
}
.fa-venus-mars:before {
    content: "\f228";
}
.fab-viacoin:before {
    content: "\f237";
}
.fab-viadeo:before {
    content: "\f2a9";
}
.fab-viadeo-square:before {
    content: "\f2aa";
}
.fa-vial:before {
    content: "\f492";
}
.fa-vials:before {
    content: "\f493";
}
.fab-viber:before {
    content: "\f409";
}
.fa-video:before {
    content: "\f03d";
}
.fa-video-slash:before {
    content: "\f4e2";
}
.fab-vimeo:before {
    content: "\f40a";
}
.fab-vimeo-square:before {
    content: "\f194";
}
.fab-vimeo-v:before {
    content: "\f27d";
}
.fab-vine:before {
    content: "\f1ca";
}
.fab-vk:before {
    content: "\f189";
}
.fab-vnv:before {
    content: "\f40b";
}
.fa-volleyball-ball:before {
    content: "\f45f";
}
.fa-volume-down:before {
    content: "\f027";
}
.fa-volume-off:before {
    content: "\f026";
}
.fa-volume-up:before {
    content: "\f028";
}
.fab-vuejs:before {
    content: "\f41f";
}
.fa-warehouse:before {
    content: "\f494";
}
.fab-weibo:before {
    content: "\f18a";
}
.fa-weight:before {
    content: "\f496";
}
.fab-weixin:before {
    content: "\f1d7";
}
.fab-whatsapp:before {
    content: "\f232";
}
.fab-whatsapp-square:before {
    content: "\f40c";
}
.fa-wheelchair:before {
    content: "\f193";
}
.fab-whmcs:before {
    content: "\f40d";
}
.fa-wifi:before {
    content: "\f1eb";
}
.fab-wikipedia-w:before {
    content: "\f266";
}
.fa-window-close:before {
    content: "\f410";
}
.fa-window-maximize:before {
    content: "\f2d0";
}
.fa-window-minimize:before {
    content: "\f2d1";
}
.fa-window-restore:before {
    content: "\f2d2";
}
.fab-windows:before {
    content: "\f17a";
}
.fa-wine-glass:before {
    content: "\f4e3";
}
.fa-won-sign:before {
    content: "\f159";
}
.fab-wordpress:before {
    content: "\f19a";
}
.fab-wordpress-simple:before {
    content: "\f411";
}
.fab-wpbeginner:before {
    content: "\f297";
}
.fab-wpexplorer:before {
    content: "\f2de";
}
.fab-wpforms:before {
    content: "\f298";
}
.fa-wrench:before {
    content: "\f0ad";
}
.fa-x-ray:before {
    content: "\f497";
}
.fab-xbox:before {
    content: "\f412";
}
.fab-xing:before {
    content: "\f168";
}
.fab-xing-square:before {
    content: "\f169";
}
.fab-y-combinator:before {
    content: "\f23b";
}
.fab-yahoo:before {
    content: "\f19e";
}
.fab-yandex:before {
    content: "\f413";
}
.fab-yandex-international:before {
    content: "\f414";
}
.fab-yelp:before {
    content: "\f1e9";
}
.fa-yen-sign:before {
    content: "\f157";
}
.fab-yoast:before {
    content: "\f2b1";
}
.fab-youtube:before {
    content: "\f167";
}
.fab-youtube-square:before {
    content: "\f431";
}
