.divider_line2 i,.divider_line3 .line_text {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

.divider_line {
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px
}

.divider_line .divider_inner {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important
}

.divider_line2 {
    height: 1px;
    position: relative
}

.divider_line2 i {
    color: #fff;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #d3d3d3;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
    position: absolute
}

.divider_line3 {
    position: relative
}

.divider_line3 .line_text {
    text-transform: uppercase;
    background: #fff;
    padding: 0 10px;
    position: absolute
}
