.action-column {
  width: 10%;
  text-align: center;
}

.textarea.form-control {
  height: auto !important;
}

.table-img {
  max-height: 75px;
  max-width: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-header {
  box-shadow: 0 2px 18px 0px rgba(0, 0, 0, 0.1) !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 10px !important;
}

.side-menus a i {
  font-size: 1.3em !important;
}

.side-menus a span {
  font-size: 1rem;
}

.ribbon {
  clear: both;
  padding: 5px 12px;
  margin-bottom: 15px;
  box-shadow: 2px 5px 10px rgba(49, 58, 70, 0.15);
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px 0 0 3px;
  position: absolute;
  right: -10px;
  top: 0;
  z-index: 1;
}

.ribbon:before {
  content: " ";
  border-style: solid;
  border-width: 10px;
  display: block;
  position: absolute;
  bottom: -10px;
  margin-bottom: -10px;
  z-index: -1;
  border-left-width: 0;
  right: 0;
}

.ribbon-primary {
  background: color(primary);
}

.ribbon-primary:before {
  border-color: color(primary) transparent transparent;
}

.product-card {
  box-shadow: 0 2px 18px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.product-card__image {
  height: 300px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-image-hover {
  transition: all 0.2s ease-in-out;
}

.card .card-header-form .input-group .form-control {
  border-radius: 30px 0 0 30px !important;
}

.card .card-header-form .input-group .input-group-btn .btn {
  border-radius: 0 30px 30px 0 !important;
}

.image-preview input {
  width: 250px;
}

.image__file-upload {
  padding: 10px;
  background: #6777ef;
  display: table;
  color: white;
  border-radius: 0.25rem;
  border-color: #6777ef;
}

.thumbnail-preview {
  max-width: 100px;
  height: 70px;
  -o-object-fit: contain !important;
  object-fit: contain !important;
}

.thumbnail-rounded {
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
}

.height-75 {
  height: 75% !important;
}

.ticket-attachment {
  margin-bottom: 10px;
  margin-right: 12px;
  height: 70px;
  width: 100px;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery-item.ticket-attachment {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ticket-attachment__icon {
  text-align: center;
}

.attachment__create {
  max-height: 20vh;
  overflow-y: auto;
}

.attachment__section {
  max-height: 39vh;
  overflow-y: auto;
}

